.titulo {
    color: rgb(244, 168, 180);
    text-align: center;
}
.marco {
    width: 100%;
    height: 500px;
}
.centrar {
    text-align: center;
}
.boton {
    background-color: white;
    border: 2px solid rgb(244, 168, 180);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}
.boton:hover {
    background-color: blue;
    color: white;
}